body {background-color:#2767BA;}
h1 {color: #DE1212;
	font-family: Impact;
	font-size: 40px;
	background-color: #000000;
	padding: 5x;
	margin-left: 23%;
	margin-right: 23%;
	text-align: center;}
p{color: #FFFFFF;
	font-family:times new roman;
	font-size: 18px;
	text-align: center;
	margin-right: 25%;
	margin-left: 25%;
	border-style: double;
	border-width: 5px;
	padding:5px ;
	margin-bottom:40px ;

}

img{border-style: dotted;
	border-width: 10px;
	border-color: #FFFFFF;
	display: block;
	margin: auto;


